.movie {
  position: relative;
  padding: 5vh 2vw;
  float: right;
  list-style-type: decimal;
  border-bottom: 1px solid lightgray;
}
.movie .details {
  background-color: rgba(255, 255, 255, 0.5);
}
.movie .title {
  font-size: large;
}
.movie .summary {
  font-size: small;
}
.movie .releaseDate {
  font-size: x-small;
}
.movie .rights {
  font-size: xx-small
}
.movie span {
  position: absolute;
  left: 0;
  top: 15vh;
  font-size: xx-large;
  font-weight: 900;
  opacity: .75;
}
.movie:last-child {
  height: 100vh;
}